:root {
    height: 100%;
}
html {
    font-size: 10px;
}
body {
    background-color: rgb(37, 37, 37);
    height: 100%;
}
#root {
    height: 100%;
}
.main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
